.movie-list {
  position: relative;
  margin-top: 0.25em;
  z-index: 1;
}

.movie-list > img {
  width: 250px;
  height: 140px;
  border-radius: 5px;
  margin-bottom: 1em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.movie-list > img:hover {
  width: 280px;
  height: 158px;
}

.__error > h2 {
  color: #ffffff;
}
