.filtered {
  position: relative;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filtered > span {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}

.popular-movie {
  overflow-x: auto;
  scroll-snap-align: center;
  padding-right: unset;
}

.popular-movie .movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
